@model Task_Student_Teacher_Course__Management_System.Models.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Add Student";
}

<h1 class="text-center my-4">Add Student</h1>
<hr />

<div class="container">
    <form asp-action="AddStudent" asp-controller="Admin" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="form-group row mb-4">
            <label asp-for="FirstName" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input asp-for="FirstName" class="form-control" placeholder="Enter First Name" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-4">
            <label asp-for="LastName" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input asp-for="LastName" class="form-control" placeholder="Enter Last Name" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-4">
            <label asp-for="DateOfBirth" class="col-sm-2 col-form-label">Date of Birth</label>
            <div class="col-sm-10">
                <input type="date" asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-4">
            <label class="col-sm-2 col-form-label">Upload Photo</label>
            <div class="col-sm-10">
                <input type="file" class="form-control" name="file" id="fileInput">
                <span id="fileError" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-4">
            <label asp-for="Email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input asp-for="Email" class="form-control" placeholder="Enter Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-4">
            <label class="col-sm-2 col-form-label">Courses</label>
            <div class="col-sm-10">
                <select class="form-control" asp-for="SelectedCourseIds" asp-items="Model.AvailableCourses" multiple="multiple">
                </select>
                <span asp-validation-for="SelectedCourseIds" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <input type="submit" value="Add" class="btn btn-primary mr-2" />
                <a asp-action="GetStudents" asp-controller="Admin" class="btn btn-warning">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.getElementById('fileInput').addEventListener('change', function () {
            var fileInput = this;
            var filePath = fileInput.value;
            var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
            var fileError = document.getElementById('fileError');

            if (!allowedExtensions.exec(filePath)) {
                fileError.textContent = "Only jpg and png files are allowed.";
                fileInput.value = '';
                return false;
            } else {
                fileError.textContent = '';
            }
        });

        document.querySelector('form').addEventListener('submit', function (e) {
            var fileInput = document.getElementById('fileInput');
            var filePath = fileInput.value;
            var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
            var fileError = document.getElementById('fileError');

            if (!allowedExtensions.exec(filePath)) {
                fileError.textContent = "Only jpg and png files are allowed.";
                e.preventDefault();
            } else {
                fileError.textContent = '';
            }
        });
    </script>
}
